@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --rstu-red: #cc0000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Always show scrollbar on landing page */
.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cc0000 #f3f4f6;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #cc0000;
  border-radius: 4px;
}
